.card {
  border-radius: 6px;
  overflow: hidden;
  background: var(--cardGray);
  text-align: center;
  padding: 2em 0;
  position: relative;
}
.card:before {
  content: "";
  height: 4px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.card.facebook::before {
  background: var(--facebook);
}
.card.twitter:before {
  background: var(--twitter);
}
.card.instagram::before {
  background-image: linear-gradient(
    to right,
    var(--instagram-1) 0%,
    var(--instagram-2) 100%
  );
}
.card.youtube::before {
  background: var(--youTube);
}
.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cardTitle);
  font-size: 0.9em;
  font-weight: bold;
}
.card-title img {
  margin-right: 5px;
  width: 30px;
}
.card__followers {
}
.card__followers-number {
  font-size: 50px;
  font-weight: 700;
}
.card__followers-title {
  display: block;
  text-transform: uppercase;
  color: var(--cardTitle);
  font-size: 0.8em;
  letter-spacing: 5px;
}
.card-today {
  margin-top: 30px;
  /* margin-bottom: 30px; */
  color: var(--lime-green);
  font-weight: bold;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-today img {
  width: 15px;
  margin-right: 5px;
}
