/* globals */

.top-cards {
  /* display: none; */
  margin-top: -50px;
  margin-bottom: 3em;
}

/* overview */
.overview {
  padding-bottom: 2em;
}
h2 {
  color: var(--gray);
}

footer a {
  text-decoration: none;
  outline: none;
  color: var(--baseColor);
}
footer a:hover {
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .header-total {
    border: none;
  }
  .header-grid {
    display: grid;
    grid-template-columns: 1fr 200px;
  }
}

/* Dark mode */
.is-dark-mode {
  --cardGray: #252b43;
  --baseBackgroud: #1d2029;
  --baseColor: rgb(238, 236, 236);
  --gray: #8088ad;
  --lightGray: #1d2029;
  --cardTitle: #8088ad;
  --switchSpinner: #282943;
  --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
}
.is-light-mode {
  --gray: #57585c;
  --cardGray: #f0f3fa;
  --lightGray: #f8f9fe;
  --cardTitle: #6f717e;
  --baseBackgroud: white;
  --baseColor: #202124;
  --switchSpinner: white;
  --switch: #57585c;
}
@media (prefers-color-scheme: dark) {
  :root {
    --cardGray: #252b43;
    --baseBackgroud: #1d2029;
    --baseColor: rgb(238, 236, 236);
    --gray: #8088ad;
    --lightGray: #1d2029;
    --cardTitle: #8088ad;
    --switchSpinner: #282943;
    --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
  }
}
