/* globals */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--baseColor);
  background: var(--baseBackgroud);
}
:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --twitter: hsl(195, 100%, 50%);
  --facebook: hsl(217, 89%, 53%);
  --instagram-1: hsl(37, 97%, 70%);
  --instagram-2: hsl(329, 70%, 58%);
  --youTube: hsl(348, 97%, 39%);
  --gray: #57585c;
  --cardGray: #f0f3fa;
  --lightGray: #f8f9fe;
  --cardTitle: #6f717e;
  --baseBackgroud: white;
  --baseColor: #202124;
  --switchSpinner: white;
  --switch: #57585c;
}
.wrapper {
  padding: 0 30px;
}
.grid {
  display: grid;
  grid-row-gap: 25px;
}
.dark-mode {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}
.checkbox {
  display: none;
}
/* selectto adyacente */
.checkbox:checked ~ .switch::before {
  transform: translateX(0);
}
.switch {
  height: 40px;
  display: block;
  border-radius: 20px;
  background: var(--switch);
  width: 80px;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}
.switch::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: var(--switchSpinner);
  border-radius: 50px;
  transform: translateX(40px);
  transition: 0.3s;
  will-change: transform;
}

.header {
  /* display: none; */
  background: var(--lightGray);
  padding-bottom: 100px;
  border-radius: 0 0 20px 20px;
  padding-top: 2em;
}
h1 {
  margin: 0;
  font-size: 1.7em;
}
.header-total {
  color: var(--gray);
  font-weight: bold;
  margin: 0.5em 0;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 1.5em;
}
.top-cards {
  /* display: none; */
  margin-top: -50px;
  margin-bottom: 3em;
}
.card {
  border-radius: 6px;
  overflow: hidden;
  background: var(--cardGray);
  text-align: center;
  padding: 2em 0;
  position: relative;
}
.card:before {
  content: "";
  height: 4px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.card.facebook::before {
  background: var(--facebook);
}
.card.twitter:before {
  background: var(--twitter);
}
.card.instagram::before {
  background-image: linear-gradient(
    to right,
    var(--instagram-1) 0%,
    var(--instagram-2) 100%
  );
}
.card.youtube::before {
  background: var(--youTube);
}
.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cardTitle);
  font-size: 0.9em;
  font-weight: bold;
}
.card-title img {
  margin-right: 5px;
  width: 30px;
}
.card__followers {
}
.card__followers-number {
  font-size: 50px;
  font-weight: 700;
}
.card__followers-title {
  display: block;
  text-transform: uppercase;
  color: var(--cardTitle);
  font-size: 0.8em;
  letter-spacing: 5px;
}
.card-today {
  margin-top: 30px;
  /* margin-bottom: 30px; */
  color: var(--lime-green);
  font-weight: bold;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-today img {
  width: 15px;
  margin-right: 5px;
}
/* overview */
.overview {
  padding-bottom: 2em;
}
h2 {
  color: var(--gray);
}
.card__small {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  background: var(--cardGray);
  border-radius: 8px;
  padding: 1.7em;
}
.card__small p {
  margin: 0;
}
.card__small-views {
  color: var(--cardTitle);
  font-weight: bold;
  font-size: 0.9em;
  line-height: 0.9;
}
.card__small-icon {
  text-align: right;
}
.card__small-icon img {
  width: 30px;
}
.card__small-number {
  font-weight: bold;
  font-size: 2.5em;
  line-height: 0.9;
}
.card__small-percentage {
  text-align: right;
  display: flex;
  align-items: flex-end;
  color: var(--lime-green);
  justify-content: flex-end;
  font-size: 0.8em;
  font-weight: bold;
}
.card__small-percentage.is-danger {
  color: var(--bright-red);
}
.card__small-percentage img {
  width: 15px;
  margin-right: 5px;
}
.card__small-percentage span {
  display: flex;
  align-items: center;
}
footer a {
  text-decoration: none;
  outline: none;
  color: var(--baseColor);
}
footer a:hover {
  font-weight: 600;
}

@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }
  .wrapper {
    max-width: 1440px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .header-total {
    border: none;
  }
  .header-grid {
    display: grid;
    grid-template-columns: 1fr 200px;
  }
}

/* Dark mode */
.is-dark-mode {
  --cardGray: #252b43;
  --baseBackgroud: #1d2029;
  --baseColor: rgb(238, 236, 236);
  --gray: #8088ad;
  --lightGray: #1d2029;
  --cardTitle: #8088ad;
  --switchSpinner: #282943;
  --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
}
.is-light-mode {
  --gray: #57585c;
  --cardGray: #f0f3fa;
  --lightGray: #f8f9fe;
  --cardTitle: #6f717e;
  --baseBackgroud: white;
  --baseColor: #202124;
  --switchSpinner: white;
  --switch: #57585c;
}
@media (prefers-color-scheme: dark) {
  :root {
    --cardGray: #252b43;
    --baseBackgroud: #1d2029;
    --baseColor: rgb(238, 236, 236);
    --gray: #8088ad;
    --lightGray: #1d2029;
    --cardTitle: #8088ad;
    --switchSpinner: #282943;
    --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
  }
}
